.experience-title {
    float: left;
    font-size: 1.125em;
}

.experience-company-link {
    color: inherit;
}

.experience-space-time {
    float: right;
    text-align: right;
    padding-left: 2em;
}

.experience-space-time span {
    display: block;
}

.experience-roles-and-technologies {
    clear: left;
}
